body {
    background:rgb(29, 29, 29);
    font-size:1.5rem;
    color:white;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    line-height: 1;
}

.hero-section {
    background-image: url("images/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    overflow: hidden;
}

.hero-dark-cover {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

.hero-content {
    position: relative;
    display: block;
    color: white;
    z-index: 10;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
}

.hero-main-text {
    font-size: 4rem;
}

.hero-support-text {
    font-weight: 1;
    font-size: 1.75rem;
    font-style: italic;
}