/* Figma Styles of your File */
:root {
  /* Colors */
  --outer-stroke-product: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(153, 153, 153, 0.5) 100%
  );
  --rating: #00720d;

  /* Fonts */
  /* Effects */
  --card-shadow-box-shadow: 4px 5px 11.7px 0px rgba(0, 0, 0, 0.14);
}
/* Figma Color Variables of your File */
